body {
    background-color: #111827;
    color: #f3f4f6;
    font-weight: 800;
    font-size: 1.5rem;
    font-family: 'Nunito';
    font-size: 22px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

section {
    float: left;
    width: 70%;
    margin-bottom: 100px;
  }

a {
    color: #f3f4f6;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    background-color: #f3f4f6;
    color: #111827;
    padding: 1.15rem 1.5rem;
    border-radius: .5rem;
    transition: .3s;
    box-shadow: 0 8px 24px hsla(var(--hue), var(--sat), var(--lig), .25);
    font-size: 1.25rem;
  }
